# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.svn

.DS_Store

*.64ofasl
*.wx64fsl
*.fasl

/trash
/node_modules
/dist

/documentation/index.html

/website
/wt.website.asd
/chrome
/wt.chrome.asd

/form
/test/form
/wt.form.asd
/bootstrap
/wt.bootstrap.asd
/package
/wt.package.asd
/octicons
/wt.octicons.asd
/sql
/test/sql
/wt.sql.asd
/datatable
/wt.datatable.asd
/todomvc
/wt.todomvc.asd

/browser
/babel.config.js
/package.json
/package-lock.json
