{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}},
        {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
        {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}}
       ]}.

{relx, [{release, { wt, "0.1.0" },
         [wt,
          sasl,
          cowboy,
          lager]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
